* { 
  font-family: "Goudy Bookletter 1911", sans-serif;
}

body {/* margin: 0 10%; */}

h1 { color: #405FA4; }
h2 { color: #405FA4; }

ul.nav {
  margin: 0;
  padding: 0;
  background-color: #405FA4;
}

ul.nav li { display: inline; }

ul.nav li a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

ul.nav li a:hover {
  background-color: #555;
  transition: 0s;
}

ul.nav li a.active {
  color: #405FA4;
  background-color: #FFF;
  font-weight: bold;
}

ul.nav li:hover { 
  background-color: grey;
  transition: 0s;
}

img {
  border: 10px;
  border-style: solid;
  border-color: #405FA4;
  margin: 0px 40px;
  
}

table {
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: grey;
  background: #eee;
  padding: 0px;
  border-spacing: 0px;
  margin: 10px 30px;
}

th {
  color: white;
  background-color: #405FA4;
}

th, td {
  text-align: left;
  padding: 3px 15px;
}

td.trcell, td.facell, td.uicell {
  font-weight: bold;
}

td.trcell { color: #405FA4;   }
td.facell { color: #405FA4;   }
td.uicell { color: #405FA4;   }


.grid {
float: left;
width: 960px;
padding-left: 15px;
padding-right: 15px;
}
